body{
	margin:0;
}
h1,h2,h3,h4,h5,h6,p{
	margin:0;
	
}

.tir{
	width:0;
	height:0;
	margin:10% auto;
	
	border-top:100px solid transparent;
	border-right:100px solid transparent;
	border-left:100px solid red;
	border-bottom:100px solid transparent;
}


.doubel-tir{
	width:10px;
	height:0px;
	margin:0 auto;
	
    border-top: 33px solid transparent;
    border-right: 44px solid red;
    border-left: 29px solid transparent;
    border-bottom: 39px solid transparent;
	
}



h2{
	background:#2ecc71;
    border:9px dashed #dfefef;
	
	border-top-left-radius:50px;
	border-bottom-right-radius:50px;
	
	
	
	
	text-align:center;
	display:block;
	color:white;
	padding:20px 15px 30px 15px;
	line-height:15px;
	margin: 5% 20px 25px 5% ;
	transition:.7s;
	
}
h2:hover{
		border-top-left-radius:0px;
    	border-bottom-right-radius:0px;
		
		border-top-right-radius:50px;
		border-bottom-left-radius:50px;
		color:black;
		background:rgba(25,25, 20, 0.1);
}

.potaka{
	width:450px;
	height:250px;
	background:green;
	position:relative;
	left:30%;
	top:10%;
	
}
.circle{
	position: absolute;
    width: 150px;
    height: 150px;
    background: red;
    border-radius: 150px;
    top: 18%;
    left: 32%
}

.circle2{
	width:250px;
	height:250px;
    background:#ff5e57;
	margin: 100px auto;
	overflow:hidden;
	
	border-top-left-radius:150px;
	border-bottom-right-radius:150px;
	transition:.7s;

}
p{
	  font-size:25px;
	  
	color:white;
  font-size:uppercase;
  text-align:center;
  margin:80px 0;
 
  transition:.7s;
  
}
p:hover{
	 
	cursor:zoom-in;
	transform:scale(1,2);
}
.circle2:hover{
	border-top-left-radius:0px;
	border-bottom-right-radius:0px;
	background:tomato;
	border-top-right-radius:150px;
	border-bottom-left-radius:150px;
}